<div class="form-horizontal pad-10">
  <br>
  <form #ajoutEmployeForm="ngForm">
    <div class="col-md-6 form-group">
      <label class=" control-label">Nom</label>
      <div class="col-md-12 no-padding">
        <input name="nom" id="nom" #nom="ngModel" [(ngModel)]="employes.nomEmploye" class="form-control" placeholder="" type="text" required />
        <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="alert alert-danger">
          <div [hidden]="!nom.errors.required">
            nom est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label class=" control-label">Prenom</label>
      <div class="col-md-12 no-padding">
        <input name="prenom" id="prenom" #prenom="ngModel" [(ngModel)]="employes.prenomEmploye" class="form-control" placeholder="" type="text" required />
        <div *ngIf="prenom.errors && (prenom.dirty || prenom.touched)" class="alert alert-danger">
          <div [hidden]="!prenom.errors.required">
            prenom est requis!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 form-group">
        <label class=" control-label">Fonction</label>
        <div class="col-md-12 no-padding">
          <input name="fonction" id="fonction" #fonction="ngModel" [(ngModel)]="employes.fonctionEmploye" class="form-control" placeholder="" type="text"/>
          </div>
        </div>
    <div class="pad-10">
      <button mwlConfirmationPopover
              [popoverTitle]="'Confirmation'"
              [popoverMessage]="'êtes-vous sûr?'"
              placement="top"
              (confirm)="createEmploye(employes)"
              type="submit" class="btn btn-save btn-primary" [disabled]="!ajoutEmployeForm.valid">
        <span class="glyphicon glyphicon-floppy-disk"></span> Sauvegarder
      </button>
    </div>
  </form>
</div>