<table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Employe</th>
      <th>heure arrivee</th>
      <th>heure depart</th>
      <th>total heure</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pointage of pointages, let i = index">
      <td>{{ i }}</td>
      <td>{{ pointage.datePointage }}</td>
      <td>{{getNameById()}}</td>
      <td>{{ pointage.arrivePointage }}</td>
      <td>{{ pointage.departPointage }}</td>
      <td>{{sommeTime(pointage.arrivePointage, pointage.departPointage)}}</td>
    </tr>
    </tbody>
  </table>