 
 <mat-list-item [ngClass] = "{'list-group-item': true, 'list-group-item-success': listStatus === 'false'}" 
 mwlConfirmationPopover
 [popoverTitle]="'Confirmation'"
 [popoverMessage]="'êtes-vous sûr?'"
 placement="top"
 (confirm)="pointage()"
 type="submit">
      <img matListAvatar src="https://ui-avatars.com/api/?name=+{{nom}}" alt="profil">
      <h2 matLine> {{nom | uppercase}} -- {{prenom}} </h2>
      <p matLine>
        <span>{{fonction | uppercase}}  </span>
      </p>
</mat-list-item>